<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462046029403-30gvhfffo7r8o6kquj2teqdqtmeo0oms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462046029403-30gvhfffo7r8o6kquj2teqdqtmeo0oms</string>
	<key>API_KEY</key>
	<string>AIzaSyDgOytg7gRDEEHubaJHIHxSoUdeXOOjfs4</string>
	<key>GCM_SENDER_ID</key>
	<string>462046029403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomsknipineft.event2</string>
	<key>PROJECT_ID</key>
	<string>event2-23a6f</string>
	<key>STORAGE_BUCKET</key>
	<string>event2-23a6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462046029403:ios:9503110b5e448a7507017e</string>
	<key>DATABASE_URL</key>
	<string>https://event2-23a6f.firebaseio.com</string>
</dict>
</plist>